<!Doctype html>
<html>

  <head>
    <link rel="stylesheet" href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='style.css' rel='stylesheet' type='text/css'>
  </head>
  
  <body>
  


    <!-- HEADER --> 
    
    
    <div class="header">
     
         <h1>
i <span class = "lost">l
           ri</span>nsc<span>imen</span>to </h1>
  

    </div>
      

    
    <!-- NAV -->


    <div class="nav">
      <p> <em><span class= "trigger"> "When the power of love overcome the </span><span> love of power, the world will know peace." </span>
   </em> </p> 
      <p>   <em> <span>"Beauty is eternity gazing at itself in a mirror.</span> <span class  = "trigger">
        But you are eternity and you are the mirror. " </span> </em> </p>
      <div class="container">
        <ul>
          <li>Home</li>
      	 <li>About</li>
           <li>Gallery</li>
           <li>Contact</li>
        </ul>
      </div>
      
    </div>

   
    
    <!-- CONTAINER -->
    
    <div class="container">
    
     
      
      <!-- ROW -->
      
      
      
      <div class="row">
        
        <!-- COLUMN --> 
        
        <div class="col-md-4">
         <img class = "img-responsive" src="https://s3.amazonaws.com/codecademy-content/projects/red-eye-photography/p1.jpg"></div>

       
       <div class="col-md-4">
           <video autoplay  loop>		<source src="https://s3.amazonaws.com/codecademy-content/projects/excursion/bg.mp4" type="video/mp4">
      </video>
        
        </div>
       <div class="col-md-4">
          <img class = "img-responsive" src="https://s3.amazonaws.com/codecademy-content/projects/red-eye-photography/p3.jpg"></div>

        </div>
        
   
    
      
      <div class="row">
      <div class="col-md-4">
          <img class = "img-responsive" src="https://s3.amazonaws.com/codecademy-content/projects/red-eye-photography/p4.jpg">
        
        </div>
        <div class="col-md-4">
                   <img class = "img-responsive" src="https://s3.amazonaws.com/codecademy-content/projects/red-eye-photography/p5.jpg">
        
        </div>
         <div class="col-md-4">
          <img class = "img-responsive" src="https://s3.amazonaws.com/codecademy-content/projects/red-eye-photography/p6.jpg">
        
        </div>
      </div>
      
      <!-- Footer --> 
    
      <div class = "footer">PHOTOGRAPHY BY ROZARIO</div>
   
      
      
      <!-- NEW CONTENT -->
      
    
    <div class = "new-content">
      
    
      
       <!-- JUNK -->
      
      <div class = "junk">
            <div class =  "row">
          <div class= "col-md-2">
            <h1> Join </h1>
   <form role = "form"> 
      
  <div class = "form-group">
         
    		<label for = "input-firstname">First Name</label>
         <input type = "First Name" class = "form-group" id= "input-firstname" placeholder= "First Name">
   </div>
            
     <div class = "form-group">
                
       				<label for= "input-lastname">Last Name</label>
                <input type "Last Name" class = "form-group"  id = "input-lastname" placeholder = "Last Name"> 	</div>
      
     <div class = "form-group">
                
       				<label for= "input-email">Email (home)    </label>
                <input type "Email" class = "form-group"  id = "input-email" placeholder = "Email">
     </div>
     
     	    <div class = "form-group">
                
       				<label for= "input-password">Password</label>
                <input type "Password" class = "form-group"  id = "input-password" placeholder = "Password">
     </div>
     
     			<div class="checkbox">
   				
            <label> <input type="checkbox"> Ready </label>
 
     </div>
 
     <button type="submit" class="btn">Create Account</button>

 </form>
              
         			 </div>
     			</div>
                
        </div>
      </div>
 
      
      <!-- Bottom -->
      
      
      <div class = "bottom">
        <p>  <button type="submit" class="btn1">Next Page</button> </p> 
    			<img class= "img-img" src=  "http://iconion.com/images/icon_sets/data2/images/social_media_icons.jpg">
      </div>

      
    
  </body>
</html>